.card-field {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: start;
  margin: 0.5em 0;
  font-size: 0.9em;
}

.card-field__name {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
  font-weight: 825;
  font-family: 'Didot', 'Times New Roman', Times, serif;
}

.card-field__companyInfo {
  display: flex;
  margin-top: 1em;
}

.companyInfo__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.companyName {
  font-weight: 700;
}
